.page-wrapper {
  padding: 30px;

  form {
    height: 100%;

    ion-item {
      margin-bottom: 20px;
    }

    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 30px;
    }
  }
}
