.game-item-container {
  border: 2px solid darkgreen;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  width: 100%;
  position: relative;

  .delete-button {
    position: absolute;
    top: 0;
    right: 0;

    ion-button {
      width: 50px;
      --padding-start: 10px;
      --padding-end: 10px;
    }
  }
}
