<ion-content>
  <div class="content-wrapper" *ngIf="!isLoading">
    <div class="stats">
      <div class="player-stat" *ngFor="let stat of game.stats">
        <div>{{stat.player}}</div>
        <div>{{stat.stat | stat}}</div>
      </div>
    </div>
    <div class="stat-error" *ngIf="isStatError">Курва, непрально!</div>
    <div class="current-hand" *ngIf="game.players && game.players.length > 0">
      <app-player-hand
        *ngFor="let player of game.players"
        (select)="onCardSelect($event)"
        [player]="player"
        (done)="onPlayerDone()"
        [selectedCard]="selectedCard"
        [isHero]="player.name === username"
      >
      </app-player-hand>
    </div>

    <app-cards-picker
      [open]="openCardsSubject.asObservable()"
      [players]="game.players"
      (pick)="onCardPick($event)"
      (clear)="onClearHand()"
    ></app-cards-picker>

    <div class="footer">
      <ion-button (click)="onCalc()" *ngIf="isHost">Calc</ion-button>
      <ion-button (click)="onNext()" *ngIf="isHost">Next</ion-button>
      <ion-button (click)="openGameStateModal()" *ngIf="isHost">State</ion-button>
    </div>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
</ion-content>
