.content-wrapper {
  height: 100%;

  .stats {
    display: flex;
    background-color: #464ca3;
    color: white;
    font-weight: bold;

    .player-stat {
      padding: 10px 0;
      flex: 0.33;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div:last-of-type {
        margin-top: 5px;
        margin-right: 3px;
      }
    }
  }

  .current-hand {
    width: 100%;
  }

  .footer {
    width: 100%;
    height: 60px;
    padding-left: 50px;
    background: #117e9c;
    display: flex;
    align-items: center;

    ion-button {
      --background: red;
      margin-left: 14px;
    };
  }

  .stat-error {
    text-align: center;
    font-size: 22px;
    color: red;
  }
}
