.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;

  .message {
    font-size: 20px;
    text-align: center;
    line-height: 1.3;

    span {
      font-weight: bold;
    }
  }

  .actions {
    margin-top: auto;

    ion-button:first-child {
      margin-right: 20px;
    }
  }
}
