.wrapper {
  width: 100%;
  padding: 10px;
  background-color: seagreen;
  color: white;
  border-bottom: 2px solid white;
  position: relative;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

    div {
      padding: 4px;
    }

    .result {
      margin-left: 5px;
      background-color: green;
      border-radius: 6px;
      font-size: 16px;
      color: white;
    }
  }

  .board {
    margin-top: 15px;
    padding: 7px 0;
    position: relative;

    .row{
      display: flex;

      .cards-block{
        flex: 1;

        .card-row {
          display: flex;
          justify-content: center;

          .card-container {
            width: 40px;
            height: 56px;
            margin: 5px;
            border: 1px solid lightskyblue;
            border-radius: 5px;
            overflow: hidden;

            &.selected {
              box-shadow: 0 0 0 3px yellow;
            }

            &.scooped {
              opacity: 0.5;
            }

            img {
              height: 100%;
            }
          }
        }

        .combo-row {
          text-align: center;
          margin-top: -3px;
          font-size: 14px;
          margin-bottom: 4px;
          color: #ffff00;
        }
      }

      .stats-block{
        width: 75px;
        position: relative;

        .stat {
          display: flex;
          height: 100%;
          width: 100%;

          .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1;
          }

          .detailed {
            font-size: 14px;

            div:first-of-type {
              margin-bottom: 10px;
            }
          }

          .total {
            font-weight: bold;
          }
        }

        .extra-line-bonuses {
          position: absolute;
          top: -10px;
          border: 1px solid white;
          padding: 2px 5px;
          border-radius: 50%;
        }

        .left {
          left: -13px;
        }

        .right {
          left: 21px;
        }
      }
    }

    .scoop {
      font-size: 25px;
      font-weight: bold;
      color: red;
      position: absolute;
      top: 0;
    }
  }

  .completed-btn {
    width: 45px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.not-completed {
      border: 1px solid #ffb366;
      border-radius: 5px;
    }

    ion-icon {
      color:  #ffb366;
      font-size: 32px;

      &.done {
        color: #39e600;
        font-size: 40px;
      }
    }
  }

}
